.frequently {
    .container {
      padding: 150px 70px 250px 70px;
      .frequently-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2 {
          font-family: Roboto;
          font-size: 54px;
          font-weight: 400;
          line-height: 64px;
          letter-spacing: 2.559999942779541px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          margin-bottom: 40px;
        }
        .question {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 20px 0px 20px 0px;
          border-bottom: 1px solid #0e0f0f40;
          p {
            font-family: Roboto;
            font-size: 19px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.9599999785423279px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }
          a {
            cursor: pointer;
            padding: 3px 7px;
            border: #0e0f0f40 1px solid;
            font-size: 20px;
            transition: ease-in-out, 0.3s;
            &:hover {
              background-color: hsla(0, 3%, 67%, 0.173);
            }
          }
        }
        button {
          margin-top: 100px;
          font-family: Chivo;
          font-size: 12px;
          font-weight: 400;
          line-height: 12px;
          letter-spacing: 0.9599999785423279px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          border: 1px solid #0e0f0f3d;
          padding: 20px;
          border-radius: 25px;
          cursor: pointer;
          background-color: white;
          transition: ease-in-out, 0.3s;
          &:hover {
            background-color: hsla(0, 3%, 67%, 0.173);
          }
        }
      }
    }
  }