.youShouldKnow {
    background-color: #0e0f0f;
    padding: 100px 70px;
    border-bottom: #393d3dd6 1px solid;
    .container {
      .youShouldKnow-wrapper {
        .first-block {
          margin-bottom: 100px;
          .title {
            color: #B3B3B3;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-bottom: 30px;
          }
          .item {
            color: #B3B3B3;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-bottom: 30px;
          }
        }
        .second-block {
          margin-bottom: 100px;
          .title {
            color: #B3B3B3;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-bottom: 30px;
          }
          .item {
            color: #B3B3B3;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-bottom: 30px;
          }
        }
      }
    }
  }