@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Встановлюємо стандартний шрифт для всіх елементів */
body {
  font-family: Arial, sans-serif;
}

/* Відключаємо стандартне оформлення списків */
ul,
ol {
  list-style: none;
}

/* Відключаємо стандартні стилі для посилань */
a {
  text-decoration: none;
  color: inherit;
}

/* Скидаємо стилі для таблиць */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Встановлюємо ширину для картинки, щоб вона не виходила за межі контейнера */
img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1900px;
  margin: auto;
}

header {
  background-color: black;
}
header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  width: 100%;
}
header .header-wrapper .logo-block ul {
  display: flex;
}
header .header-wrapper .logo-block li {
  margin-right: 30px;
}
header .header-wrapper .logo-block li .logo {
  width: 110px;
}
header .header-wrapper .logo-block li .logo-text {
  width: 125px;
}
header .header-wrapper .logo-block li .cross {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 0px;
}
header .header-wrapper .logo-block li .cross::before, header .header-wrapper .logo-block li .cross::after {
  content: "";
  position: absolute;
  background-color: rgba(128, 128, 128, 0.763);
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  transform-origin: center;
  transform: translateY(-50%);
}
header .header-wrapper .logo-block li .cross::before {
  transform: rotate(45deg);
}
header .header-wrapper .logo-block li .cross::after {
  transform: rotate(-45deg);
}
header .header-wrapper .text-block p {
  color: white;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}
header .header-wrapper .learnMore-block {
  width: 225px;
  height: 65px;
}
header .header-wrapper .learnMore-block img {
  display: block;
  width: 100%;
  height: 100%;
}

main .main-section {
  padding: 150px 100px 0px 200px;
}
main .main-section .container .main-wrapper {
  display: flex;
  justify-content: space-between;
}
main .main-section .container .main-wrapper .text-block h1 {
  padding: 75px 0 0 0;
  font-family: Roboto;
  font-size: 65px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 3.2000000477px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main .main-section .container .main-wrapper .text-block p {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 33.6px;
  letter-spacing: 0.4799999893px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 150px;
}
main .main-section .container .main-wrapper .text-block .form-description {
  font-family: Chivo;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 1.2799999714px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 15px;
}
main .main-section .container .main-wrapper .text-block form input {
  width: 500px;
  height: 8px;
  top: 856px;
  left: 40px;
  gap: 0px;
  border-radius: 8px 8px 8px 8px;
  opacity: 0px;
  padding: 30px;
  position: relative;
  top: 0px;
  left: 0px;
  border: #d2d9e1 1px solid;
}
main .main-section .container .main-wrapper .text-block form button {
  width: 100px;
  height: 44px;
  background-color: black;
  border-radius: 100px 100px 100px 100px;
  opacity: 0px;
  position: absolute;
  left: 590px;
  top: 755px;
  cursor: pointer;
}
main .partners {
  background: #d2d9e1;
  padding: 75px 0px 75px 0px;
  position: relative;
  bottom: 20px;
}
main .partners .container .partners-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .your-savings {
  padding: 150px 0px 150px 0px;
}
main .your-savings .container {
  padding: 0px 150px 0px 150px;
}
main .your-savings .container .yourSavings-wrapper {
  display: flex;
  justify-content: space-between;
}
main .your-savings .container .yourSavings-wrapper .text-block .first-block {
  border-bottom: 1px solid rgba(14, 15, 15, 0.2392156863);
}
main .your-savings .container .yourSavings-wrapper .text-block .first-block h2 {
  font-family: Roboto;
  font-size: 52px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 2.5599999428px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 30px;
}
main .your-savings .container .yourSavings-wrapper .text-block .first-block p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 0.3600000143px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 30px;
}
main .your-savings .container .yourSavings-wrapper .text-block .second-block {
  padding: 30px 0px 30px 0px;
  border-bottom: 1px solid rgba(14, 15, 15, 0.2392156863);
  margin-bottom: 50px;
}
main .your-savings .container .yourSavings-wrapper .text-block .second-block .title {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.9199999571px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 30px;
}
main .your-savings .container .yourSavings-wrapper .text-block .second-block p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 0.3600000143px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main .your-savings .container .yourSavings-wrapper .text-block button {
  width: 184px;
  padding: 20px 0px 20px 0px;
  border-radius: 50px;
  border: 1px solid rgba(14, 15, 15, 0.2392156863);
  background: #ffffff;
  cursor: pointer;
  font-family: Chivo;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.9599999785px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .your-savings .container .yourSavings-wrapper .text-block button::after {
  content: "➡";
  margin-left: 10px;
  font-size: 26px;
  transition: transform 0.3s;
}
main .your-savings .container .yourSavings-wrapper .text-block button:hover::after {
  transform: translateX(10px);
}
main .couples {
  background: #d2d9e1;
}
main .couples .container {
  padding: 150px 150px 150px 150px;
}
main .couples .container .couples-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .couples .container .couples-wrapper .text-block .title {
  font-family: Chivo;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 1.2799999714px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 15px;
}
main .couples .container .couples-wrapper .text-block h3 {
  font-family: Roboto;
  font-size: 61px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 2.5599999428px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 25px;
}
main .couples .container .couples-wrapper .text-block p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 0.3600000143px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 75px;
}
main .couples .container .couples-wrapper .text-block ul {
  display: flex;
  align-items: center;
}
main .couples .container .couples-wrapper .text-block ul li {
  margin-right: 10px;
  margin-bottom: 20px;
}
main .couples .container .couples-wrapper .text-block .trustScore {
  display: flex;
}
main .couples .container .couples-wrapper .text-block .trustScore .rating {
  margin-bottom: 0;
  margin-right: 15px;
}
main .couples .container .couples-wrapper .text-block .trustScore div {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #0e0f0f;
  border-bottom: 1px solid black;
}
main .customers .container {
  padding: 50px 150px 50px 150px;
}
main .customers .container .customers-wrapper {
  display: flex;
  justify-content: space-around;
}
main .customers .container .customers-wrapper article {
  width: 250px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
main .customers .container .customers-wrapper article .review {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 15px;
}
main .customers .container .customers-wrapper article .author {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.8000000119px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 10px;
}
main .customers .container .customers-wrapper article .rank {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.2800000012px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main .customers .container div {
  display: flex;
  justify-content: center;
}
main .customers .container div p {
  display: inline;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3199999928px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main .protection {
  padding: 150px 0px 150px 0px;
}
main .protection .container {
  padding: 0px 150px 0px 150px;
}
main .protection .container .protection-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .protection .container .protection-wrapper .text-block {
  width: 570px;
}
main .protection .container .protection-wrapper .text-block .first-block {
  border-bottom: 1px solid rgba(14, 15, 15, 0.2392156863);
}
main .protection .container .protection-wrapper .text-block .first-block h2 {
  font-family: Roboto;
  font-size: 52px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 2.5599999428px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 30px;
}
main .protection .container .protection-wrapper .text-block .first-block p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 0.3600000143px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 30px;
}
main .protection .container .protection-wrapper .text-block .second-block {
  padding: 30px 0px 30px 0px;
  border-bottom: 1px solid rgba(14, 15, 15, 0.2392156863);
  margin-bottom: 50px;
}
main .protection .container .protection-wrapper .text-block .second-block .title {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.9199999571px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 30px;
}
main .protection .container .protection-wrapper .text-block .second-block p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 0.3600000143px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main .protection .container .protection-wrapper .text-block button {
  width: 210px;
  padding: 20px 0px 20px 0px;
  border-radius: 50px;
  border: 1px solid rgba(14, 15, 15, 0.2392156863);
  background: #ffffff;
  cursor: pointer;
  font-family: Chivo;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.9599999785px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .protection .container .protection-wrapper .text-block button::after {
  content: "➡";
  margin-left: 10px;
  font-size: 26px;
  transition: transform 0.3s;
}
main .protection .container .protection-wrapper .text-block button:hover::after {
  transform: translateX(10px);
}
main .protection .container .protection-wrapper .photo-block p {
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.2800000012px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main .tellus {
  background-color: #d2d9e1;
}
main .tellus .container {
  padding: 150px;
}
main .tellus .container .tellus-wrapper {
  display: flex;
  justify-content: space-between;
}
main .tellus .container .tellus-wrapper .text-block {
  max-width: 511px;
}
main .tellus .container .tellus-wrapper .text-block h3 {
  font-family: Roboto;
  font-size: 51px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 2.5599999428px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 30px;
}
main .tellus .container .tellus-wrapper .text-block p {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  letter-spacing: 0.4799999893px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main .tellus .container .tellus-wrapper .photo-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .tellus .container .tellus-wrapper .photo-block img {
  margin-bottom: 20px;
}
main .frequently .container {
  padding: 150px 70px 250px 70px;
}
main .frequently .container .frequently-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .frequently .container .frequently-wrapper h2 {
  font-family: Roboto;
  font-size: 54px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 2.5599999428px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 40px;
}
main .frequently .container .frequently-wrapper .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid rgba(14, 15, 15, 0.2509803922);
}
main .frequently .container .frequently-wrapper .question p {
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.9599999785px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main .frequently .container .frequently-wrapper .question a {
  cursor: pointer;
  padding: 3px 7px;
  border: rgba(14, 15, 15, 0.2509803922) 1px solid;
  font-size: 20px;
  transition: ease-in-out, 0.3s;
}
main .frequently .container .frequently-wrapper .question a:hover {
  background-color: hsla(0, 3%, 67%, 0.173);
}
main .frequently .container .frequently-wrapper button {
  margin-top: 100px;
  font-family: Chivo;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.9599999785px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: 1px solid rgba(14, 15, 15, 0.2392156863);
  padding: 20px;
  border-radius: 25px;
  cursor: pointer;
  background-color: white;
  transition: ease-in-out, 0.3s;
}
main .frequently .container .frequently-wrapper button:hover {
  background-color: hsla(0, 3%, 67%, 0.173);
}
main .payout {
  background: linear-gradient(blue, white);
}
main .payout .container {
  padding: 150px 140px 250px 70px;
}
main .payout .container .payout-wrapper {
  display: flex;
  justify-content: space-between;
}
main .payout .container .payout-wrapper .title-block h3 {
  color: white;
  font-family: Roboto;
  font-size: 54px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 2.5599999428px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main .payout .container .payout-wrapper .text-block {
  width: 520px;
}
main .payout .container .payout-wrapper .text-block p {
  color: white;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 120px;
}
main .payout .container .payout-wrapper .text-block button {
  font-family: Chivo;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.9599999785px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 10px 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border: white;
  cursor: pointer;
}
main .payout .container .payout-wrapper .text-block button::after {
  content: "➡";
  margin-left: 10px;
  font-size: 26px;
  transition: transform 0.3s;
}
main .payout .container .payout-wrapper .text-block button:hover::after {
  transform: translateX(30px);
}
main .getInTouch {
  padding: 200px 0px 100px 0px;
  background-color: #0e0f0f;
  border-bottom: rgba(57, 61, 61, 0.8392156863) 1px solid;
}
main .getInTouch .container .getInTouch-wrapper {
  display: flex;
  justify-content: space-around;
}
main .getInTouch .container .getInTouch-wrapper ul {
  color: #d2d9e1;
  text-align: left;
}
main .getInTouch .container .getInTouch-wrapper ul .main {
  font-family: Chivo;
  font-size: 20px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 1.1200000048px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main .getInTouch .container .getInTouch-wrapper ul li {
  margin-bottom: 20px;
}
main .getInTouch .container .getInTouch-wrapper ul li a {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main .getInTouch .container .getInTouch-wrapper ul ul {
  display: flex;
}
main .getInTouch .container .getInTouch-wrapper ul ul li {
  margin-right: 15px;
}
main .getInTouch .container .getInTouch-wrapper ul ul li a img {
  filter: contrast(0.5);
}
main .youShouldKnow {
  background-color: #0e0f0f;
  padding: 100px 70px;
  border-bottom: rgba(57, 61, 61, 0.8392156863) 1px solid;
}
main .youShouldKnow .container .youShouldKnow-wrapper .first-block {
  margin-bottom: 100px;
}
main .youShouldKnow .container .youShouldKnow-wrapper .first-block .title {
  color: #B3B3B3;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 30px;
}
main .youShouldKnow .container .youShouldKnow-wrapper .first-block .item {
  color: #B3B3B3;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 30px;
}
main .youShouldKnow .container .youShouldKnow-wrapper .second-block {
  margin-bottom: 100px;
}
main .youShouldKnow .container .youShouldKnow-wrapper .second-block .title {
  color: #B3B3B3;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 30px;
}
main .youShouldKnow .container .youShouldKnow-wrapper .second-block .item {
  color: #B3B3B3;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 30px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  background-color: #0e0f0f;
  color: #B3B3B3;
}/*# sourceMappingURL=style.css.map */